menu.dtd

<!ELEMENT menu (meals, beverages)>
<!ELEMENT meals (meal+)>
<!ELEMENT meal (name, price, description, image)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT price (#PCDATA)>
<!ELEMENT description (#PCDATA)>
<!ELEMENT image (#PCDATA)>

<!ELEMENT beverages (coffee, other)>
<!ELEMENT coffee (size+)>
<!ELEMENT size (name, price)>
<!ELEMENT other (beverage+)>
<!ELEMENT beverage (name, price)>
